@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-chat-rebinder-bg: #E6F4D7;
  --color-chat-rebinder-fg: #729C6E;
  --color-chat-user-bg: #EDEFF0;
  --color-chat-user-fg: #70727C;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-lora: var(--font-lora);
  --shadow-pocket: 1px 30px 25px -29px rgba(0,0,0,0.61);
  --height-content: calc(100vh - 80px);
  --color-1: oklch(0.984 0.003 247.858);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html, body {
  height: 100%;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Inter, Helvetica, sans-serif;
}
